{% extends "base.html.twig" %}

{% block content %}

    <div class="container-fluid"
        <div class="row">
            <div class="col-12 text-center">
                <h2> Download Page </h2>
            </div>

            <div class="col-12 text-center">
                <ul>
                   <a href="{{ path("download") }}">Export Excel</a>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}
